.main-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2%;
}

.menu{
    display: flex;
}

.menu-title{
    font-size: 2rem;
}

.menu-options-container{
    margin-left: auto;
    display: flex;
}

.menu-option{
    margin: 5px;
    padding: 5px;
}

.content-container{
    margin: 5px 0px 0px 0px;
    padding: 5px;
    border-radius: 10px;
}

.success-background{
    background: rgba(34, 237, 10, 0.25) !important;
}

.error-background{
    background: rgba(237, 20, 10, 0.25) !important;
}
.json-background{
    background: rgba(255, 213, 0, 0.37) !important;
}
.others-background{
    background: rgba(133, 211, 247, 0.1) !important;
}
*{
    font-family: "Arial";
}

#flash{
    position: sticky;
    top: 20px;
    z-index: 10;
    width: 50%;
    margin: 0px auto 0px auto;
    border: 1px solid black;
    text-align: center;
    display: None;
}

#compare-panel{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    display:none
}
#compare{
    position: relative;
    margin: 30px auto auto auto;
    width: 80%;
    border: 3px solid lightgrey;
    border-radius: 5px;
}
#compare-close{
    position: absolute;
    right: 0;
    top: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid crimson;
    background: white;
    font-weight: bold;
    color: red;
    border-radius: 100%;
    cursor: pointer;
}
.diff{
    width: 100%;
    background: white;
}
#name-panel{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    display: none;
}
#name-container{
    position: relative;
    margin: 30px auto auto auto;
    width: 80%;
    border: 3px solid lightgrey;
    border-radius: 5px;
    background: whitesmoke;
    padding: 50px;
}
#name-close{
    position: absolute;
    right: 0;
    top: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid crimson;
    background: white;
    font-weight: bold;
    color: red;
    border-radius: 100%;
    cursor: pointer;
}

#name-input{
    display: block;
    margin: auto;
    width: 60%;
}

#name-button{
    display: block;
    margin: 50px auto auto auto;
}

#data-panel{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    display: none;
}

#data-container{
    position: relative;
    margin: 30px auto auto auto;
    width: 80%;
    border: 3px solid lightgrey;
    border-radius: 5px;
    background: white;
}

#data-close{
    position: absolute;
    right: 0;
    top: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid crimson;
    background: white;
    font-weight: bold;
    color: red;
    border-radius: 100%;
    cursor: pointer;
}

#data-heading{
    padding: 25px;
    background: whitesmoke;
    font-weight: bolder;
    font-size: 1.25rem;
}

#data-content{
    padding: 25px;
}

.test-index{
    font-weight: bolder;
    text-align: right;
}

*{
  -moz-user-select: none;
}

.in-batch{
    border: 3px solid rgba(231, 150, 236, 0.7);
    background: rgba(200, 180, 236, 0.7) !important;
}